{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>404Error</title>
    <!-- Static 태그로 CSS 로드 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div id="preloader"></div>
    <section>
      <div class="main container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3"></div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div class="main-img text-center">
              <img
                src="{% static 'img/main.png' %}"
                alt="Main"
                class="img-fluid pb-3"
                width="400px"
              />
            </div>
            <a href="/" class="btn btn-sz-primary">Go Home</a>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-3"></div>
        </div>
      </div>
    </section>

    <!-- Static 태그로 JS 로드 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
